<template>
  <div class="challenge-details challenge__details--onboarding">
    <header class="challenge-details__header app__container">
      <back-button @goBack="goToOverview" />
      <!-- Logo -->
      <!-- Coins -->
      <base-headline tag="h3">
        {{ challenge.name }}
      </base-headline>
      <p>{{ challenge.text }}</p>
    </header>
    <section class="challenge__solution-list challenge__solution-list--slider">
      <carousel :pagination-enabled="false" :per-page="3">
        <slide v-for="(solution, index) in solutions" :key="index" @click="$emit('showSolution', {solution})">
          <figure class="challenge__solution-list--slide" @click="showSolution(solution)">
            <img :src="solution.image" :alt="`Bild ${index} dieser Challenge`">
          </figure>
        </slide>
      </carousel>
    </section>

    <section class="challenge-details__description app__container" />
    <photo-box
      :class-name="['fileinput', { 'fileinput--loaded': hasImage }]"
      :debug="0"
      do-not-resize="gif"
      :auto-rotate="true"
      output-format="verbose"
      accept="image/*"
      @input="setImage"
      @closePhoto="imageAction"
    />
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel'
import PhotoBox from '../../components/PhotoBox.vue'
import BackButton from '../../components/BackButton.vue'
import BaseHeadline from '../../components/Base/BaseHeadline.vue'

export default {
  layout: 'clean',
  auth: false,
  name: 'ChallengeDetails',
  components: {
    BaseHeadline,
    Carousel,
    Slide,
    PhotoBox,
    BackButton
  },

  data () {
    return {
      id: this.$route.params.id,
      solutions: {},
      challenge: {},
      hasImage: false,
      image: null,
      showPhotoBox: true
    }
  },

  mounted () {
    this.loadChallenge()
  },

  created () {
  },

  methods: {
    async loadChallenge () {
      const challenge = await this.$challengeRepository.get(this.id)
      const solutions = await this.$solutionRepository.getByChallenge(this.id)
      this.challenge = challenge.data.challenge
      if (Object.prototype.hasOwnProperty.call(solutions.data, 'info')) {
        this.solutions = {}
      } else {
        this.solutions = solutions.data
      }
    },

    goToOverview () {
      this.$router.go(-1)
    },

    setImage (output) {
      this.hasImage = true
      this.image = output
    },
    async imageAction (payload) {
      await this.$challengeRepository.participate(this.id, payload.image)
      const messageData = {
        title: 'Sehr gut!',
        text: 'Du hast deine erste Challenge abgeschlossen und 20 Punkte verdient. Weiter so!',
        points: 50,
        confetti: true
      }
      this.$router.push({ name: 'challenges', params: { message: messageData } })
      // this.$router.push('/challenges', message)
      // this.$router.push('challenges')
      this.hasImage = false
      this.image = null
    },

    showSolution (solution) {
      this.$router.push('solution')
    }
  }
}
</script>

<style lang="scss">
  @import '../../assets/styles/components/ChallengeDetails';
</style>
