.challenge-details {
  padding-top: 20px;
  &__header {
    .base-headline {
      margin-top: 40px;
    }
  }

  &__description {
    margin: 25px 0 30px;
  }
}

.challenge {
  &__solution-list {
    &--slide {
      display: inline-block;
      margin: 0 8px 8px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 6px 6px 0px rgba(0,0,0,.1);
      img {
        display: block;
      }
    }

    &--simple {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      list-style: none;
      margin: 0 0 30px;
      padding: 0 8px;
      &__listItem {
        margin: 8px;
        overflow: hidden;
        border-radius: 8px;
        img {
          display: block;
        }
      }
    }
  }

  &-solution {
    background: $color__grey--darkest;
    position: relative;
    max-height: 100%;
    overflow: hidden;
    &__header {
      position: fixed;
      top: 0;
      left: 0;
    }
    &__data {
      position: fixed;
      left: 0;
      bottom: 25px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__imageContainer {
      margin: 0;
      padding: 0;
      min-height: 100vh;
      min-width: 100vw;
      background-size: cover;
      img {
        display: none;
      }
    }
    &__image {
      display: block;
      max-width: 100%;
      height: auto;
    }
    &__dataList {
      list-style: none;
      margin: 0 0 5px;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    &__dataItem {
      color: #fff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 25px;
      &:first-child {
        margin: 0;
      }
    }
    &__dataLabel {
      display: block;
      text-align: center;
      font-size: 10px;
      line-height: 12px;
      padding-top: 5px;
      mix-blend-mode: difference;
    }
  }

}
