.createChallenge {
  &__overlay {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;

    background-color: rgba($color__grey--medium, 0.5);
  }

  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background: $color__white;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__titleIcon {
    color: $color__brand--primary;
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  &__titleText {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  &__form {
    margin-bottom: 16px;
  }

  &__inputTitle {
    margin-bottom: 16px;
  }

  &__buttons {
    display: flex;
  }

  &__buttonCancel {
    flex: 1;
    width: 100%;
    margin-right: 8px;
  }

  &__buttonSubmit {
    flex: 1;
    width: 100%;
    margin-left: 8px;
  }
}

.create-challenge-transition-enter-active {
  animation: fadeIn 0.75s;
  .createChallenge__modal {
    animation: fadeInUp 0.75s;
  }
}
.create-challenge-transition-leave-active {
  animation: fadeIn 0.75s reverse;
  .createChallenge__modal {
    animation: fadeInUp 0.75s reverse;
  }
}
