.photobox {
  &__trigger {
    height: 80px;
    width: 80px;
    border-radius: 80px;
    background: $color__brand--primary;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-40px, -90px);

    &:active {
      opacity: .7;
    }
  }

  &__image {
    object-fit: cover;
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: block;
    z-index: 4;
    margin: 0 auto;
  }

  &__actions {
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 15px 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__stage {
    background: rgba(0,0,0,.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    width: 100vw;
  }

  &__input {
    display: none;
  }

  &__trigger-icon {
  }
  &--hasPhoto {}
}
