.points-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 8px 16px;
  outline: none;

  background-color: $color__brand--secondary;
  color: $color__white;

  &--clickable {
    cursor: pointer;
    &:active {
      background-color: activeState($color__brand--secondary);
    }
  }

  &__text {
    margin-right: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    user-select: none;
  }

  &__icon {
    height: 32px;
    width: 32px;
  }

  &__iconLoading {
    margin: 6px 4px;
    height: 20px;
    width: auto;
  }
}
