.successMessage {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 36px 24px 36px;
    background-color: $color__brand--tertiary;
    background: url('~assets/images/successMessage__background.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 48px 24px;
  }

  &__title {
    margin-bottom: 16px;
    font-family: Pacifico, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #003D66; // $color__grey--darkest;
  }

  &__content {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: $color__grey--darkest;
  }
}

#confetti {
  background: transparent;
  height: 0;
}
