<template>
  <div class="profile">
    <div class="profile-header">
      <div class="profile-header__name">
        <icon-loading v-if="loading" class="profile-header__nameLoading" />
        <span v-else class="profile-header__nameText">{{ username }}</span>
      </div>
      <points-indicator :points="points" :loading="loading" />
      <div class="profile-header__logout" @click="logout">
        <icon-logout />
      </div>
    </div>

    <div class="profile-challenges" />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import IconLogout from '../../components/Icons/IconLogout.vue'
import PointsIndicator from '../../components/PointsIndicator.vue'
import IconLoading from '../../components/Icons/IconLoading.vue'

export default {
  layout: 'authentication',
  components: { IconLoading, PointsIndicator, IconLogout },

  data () {
    return {
      loading: true
    }
  },

  computed: {
    username () {
      return this.$store.state.user.username
    },
    points () {
      return this.$store.state.user.points
    }
  },

  async mounted () {
    await this.fetchUserInfo()
    this.loading = false
  },

  methods: {
    async logout () {
      await this.$auth.logout()
    },
    ...mapActions('user', ['fetchUserInfo'])
  }
}
</script>

<style scoped lang="scss">
@import "../../assets/styles/pages/Profile/Profile";
</style>
