<template>
  <div class="authentication">
    <h2 class="authentication__headline">
      Willkommen zurück!
    </h2>

    <form class="authentication__form" @submit.prevent="login">
      <base-input v-model="email" label="E-Mail Adresse" type="email" required :disabled="loading" />
      <base-input v-model="password" label="Passwort" type="password" required :disabled="loading" />

      <base-button type="submit" variant="primary" block round :loading="loading">
        Jetzt einloggen
      </base-button>
    </form>

    <!-- <base-button
      class="authentication__socialButton authentication__socialButton--facebook"
      block
    >
      <icon-facebook class="authentication__socialButtonIcon" />
      Einloggen mit Facebook
    </base-button>

    <base-button
      class="authentication__socialButton authentication__socialButton--google"
      block
    >
      <icon-google class="authentication__socialButtonIcon" />
      Einloggen mit Google
    </base-button> -->

    <div class="authentication__footer">
      <span class="authentication__headline">
        Noch nicht dabei?
      </span>
      <nuxt-link to="/profile/register">
        <base-button variant="white" block round>
          Jetzt registrieren
        </base-button>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import BaseInput from '../../components/Base/BaseInput.vue'
import BaseButton from '../../components/Base/BaseButton.vue'
// import IconFacebook from '../../components/Icons/IconFacebook.vue'
// import IconGoogle from '../../components/Icons/IconGoogle.vue'

export default {
  components: {
    // IconGoogle,
    // IconFacebook,
    BaseButton,
    BaseInput
  },
  layout: 'authentication',
  auth: 'guest',

  data () {
    return {
      loading: false,
      email: '',
      password: ''
    }
  },

  methods: {
    async login () {
      try {
        this.loading = true
        const { email, password } = this
        await this.$auth.loginWith('local', { data: { email, password } })
      } catch (err) {
        this.$toast.error('Fehler! Stimmen deine Zugangsdaten?')
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../assets/styles/pages/Authentication/Authentication";
</style>
