<template>
  <div class="authentication">
    <h2 class="authentication__headline">
      Let's go
    </h2>

    <form class="authentication__form" @submit.prevent="registerAndLogin">
      <base-input
        v-model="username"
        label="Benutzername"
        required
        :disabled="loading"
      />
      <base-input
        v-model="email"
        label="E-Mail Adresse"
        type="email"
        required
        :disabled="loading"
      />
      <base-input
        v-model="password"
        label="Passwort"
        type="password"
        required
        minlength="7"
        :disabled="loading"
      />

      <base-button
        type="submit"
        variant="primary"
        block
        round
        :loading="loading"
      >
        Jetzt registrieren
      </base-button>
    </form>

    <!-- <base-button
      class="authentication__socialButton authentication__socialButton--facebook"
      block
    >
      <icon-facebook class="authentication__socialButtonIcon" />
      Einloggen mit Facebook
    </base-button>

    <base-button
      class="authentication__socialButton authentication__socialButton--google"
      block
    >
      <icon-google class="authentication__socialButtonIcon" />
      Einloggen mit Google
    </base-button> -->

    <div class="authentication__footer">
      <span class="authentication__headline">
        Schon dabei?
      </span>
      <nuxt-link to="/profile/login">
        <base-button variant="white" block round>
          Jetzt einloggen
        </base-button>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import BaseInput from '../../components/Base/BaseInput.vue'
import BaseButton from '../../components/Base/BaseButton.vue'
// import IconFacebook from '../../components/Icons/IconFacebook.vue'
// import IconGoogle from '../../components/Icons/IconGoogle.vue'

export default {
  components: {
    // IconGoogle,
    // IconFacebook,
    BaseButton,
    BaseInput
  },
  layout: 'authentication',
  auth: 'guest',

  data () {
    return {
      loading: false,
      username: '',
      email: '',
      password: ''
    }
  },

  methods: {
    ...mapActions('user', ['register']),
    async registerAndLogin () {
      try {
        this.loading = true
        await this.register({
          email: this.email,
          username: this.username,
          password: this.password
        })
        await this.$router.push('/profile')
        this.$toast.success('Erfolgreich registriert. Viel Spaß!')
      } catch (error) {
        this.$toast.error('Fehler bei der Registrierung.️')
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../assets/styles/pages/Authentication/Authentication";
</style>
