.baseButton {
  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 45px;

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    line-height: 24px;

    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    user-select: none;

    &--block {
      width: 100%;
    }

    &--round {
      border-radius: 24px;
    }

    &--ghost {
      &.baseButton__button--white {
        border: 1px solid $color__white;
        @include buttonVariant(transparent, $color__white);
        &:hover {
          background: transparent;
        }
      }

      &.baseButton__button--primary {
        border: 1px solid $color__brand--primary;
        @include buttonVariant(transparent, $color__brand--primary);
        &:hover {
          background: transparent;
        }
      }

      &.baseButton__button--secondary {
        border: 1px solid $color__brand--secondary;
        @include buttonVariant(transparent, $color__brand--secondary);
        &:hover {
          background: transparent;
        }
      }

      &.baseButton__button--tertiary {
        border: 1px solid $color__brand--tertiary;
        @include buttonVariant(transparent, $color__brand--tertiary);
        &:hover {
          background: transparent;
        }
      }

      &.baseButton__button--accent {
        border: 1px solid $color__brand--accent;
        @include buttonVariant(transparent, $color__brand--accent);
        &:hover {
          background: transparent;
        }
      }
    }

    &--white {
      @include buttonVariant($color__white, $color__grey--darkest);
      border: 1px solid $color__grey--light;
      &:active {
        background: $color__grey--lightest;
      }
    }

    &--primary {
      @include buttonVariant($color__brand--primary, $color__white);
    }

    &--secondary {
      @include buttonVariant($color__brand--secondary, $color__white);
    }

    &--tertiary {
      @include buttonVariant($color__brand--tertiary, $color__white);
    }

    &--accent {
      @include buttonVariant($color__brand--accent, $color__white);
    }
  }

  &__iconLoading {
    margin: 4px 0;
    height: 16px;
    width: auto;
  }
}
