$baseInput__borderColor: #ccd1d9;

.baseInput__input,
.baseTextarea__textarea {
  display: block;
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  line-height: 100%;

  border: 1px solid $baseInput__borderColor;
  border-radius: 4px;
  outline: none;

  &:focus {
    border-color: activeState($baseInput__borderColor);
  }

  &:disabled {
    background: $color__grey--lightest;
    cursor: not-allowed;
  }
}

.baseTextarea__textarea {
  line-height: 125%;
}
