<template>
  <div class="bottomNavigation__bar">
    <nuxt-link class="bottomNavigation__link" to="/challenges" active-class="bottomNavigation__link--active">
      <icon-challenge class="bottomNavigation__linkIcon" />
      <span class="bottomNavigation__linkTitle">Challenges</span>
    </nuxt-link>
    <a class="bottomNavigation__link" @click="$emit('click:create')">
      <icon-plus class="bottomNavigation__linkIcon" />
      <span class="bottomNavigation__linkTitle">Challenge erstellen</span>
    </a>
    <nuxt-link class="bottomNavigation__link" to="/profile" active-class="bottomNavigation__link--active">
      <icon-profile class="bottomNavigation__linkIcon" />
      <span class="bottomNavigation__linkTitle">Mein Profil</span>
    </nuxt-link>
  </div>
</template>

<script>
import IconChallenge from '../Icons/IconChallenge.vue'
import IconPlus from '../Icons/IconPlus.vue'
import IconProfile from '../Icons/IconProfile.vue'

export default {
  name: 'BottomNavigation',
  components: { IconPlus, IconChallenge, IconProfile }
}
</script>

<style scoped lang="scss">
  @import '../../assets/styles/components/Layout/BottomNavigation';
</style>
