<template>
  <div class="topBar__bar">
    <nuxt-link to="/challenges" class="topBar__title">
      <back-button v-if="isSubpage" />
      <h1 v-if="!isSubpage" class="topBar__titleText">
        <span class="topBar__titleText--primary">Home</span>NotAlone
      </h1>
    </nuxt-link>
    <div class="topBar__coins">
      <span class="topBar__coinsAmount">{{ coinsAmount }}</span>
      <icon-coin class="topBar__coinsIcon" />
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import IconCoin from '../Icons/IconCoin.vue'
import BackButton from '../BackButton.vue'

export default {
  name: 'TopBar',
  components: {
    IconCoin,
    BackButton
  },
  props: {
    isSubpage: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  computed: {
    coinsAmount () {
      return this.$store.state.user.points
    }
  },

  mounted () {
    this.fetchUserInfo()
  },

  methods: {
    ...mapActions('user', ['fetchUserInfo'])
  }
}
</script>

<style scoped lang="scss">
  @import '../../assets/styles/components/Layout/TopBar.scss';
</style>
