.onboardingSelect {
  padding: 0 16px;

  &__title {
    margin: 64px 0;
    padding: 0 50px;

    font-family: Pacifico, cursive;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 100%;
  }

  &__choice:not(:last-child) {
    margin-bottom: 25px;
  }
}
