<template>
  <div class="challenge-details challenge__details--onboarding">
    <header class="challenge-details__header app__container">
      <base-headline tag="h3">
        {{ challenge.title }}
      </base-headline>
    </header>
    <section class="challenge-details__description app__container">
      {{ challenge.description }}
    </section>
    <ul class="challenge__solution-list challenge__solution-list--simple">
      <li v-for="(solution, index) in challenge.solutions" :key="index" class="challenge__solution-list--simple__listItem" @click="showSolution(solution)">
        <img :src="solution.image" :alt="`Bild ${index} dieser Challenge`">
      </li>
    </ul>
    <photo-box
      :class-name="['fileinput', { 'fileinput--loaded': hasImage }]"
      :debug="0"
      do-not-resize="gif"
      :auto-rotate="true"
      output-format="verbose"
      accept="image/*"
      @input="setImage"
      @submit="participate"
      @abort="removeImage"
    />
  </div>
</template>

<script>
import PhotoBox from '../components/PhotoBox.vue'
import BaseHeadline from '../components/Base/BaseHeadline.vue'

export default {
  layout: 'subpage',
  name: 'ChallengeDetails',
  components: {
    BaseHeadline,
    PhotoBox
  },
  props: {
    challenge: {
      type: Object,
      required: false,
      default () {
        return {
          id: 1,
          title: 'Klopapiervorrat',
          description: 'Durch die aktuelle Lage ist der Kloppapiervorrat ein wichtiges Gut geworden. Mache ein Foto von deinem Bestand und poste es! Hier gewinnst du 20 Punkte!',
          solutions: [
            { image: 'https://placekitten.com/164/220', shares: '0', likes: '29' },
            { image: 'https://placekitten.com/164/220', shares: '1', likes: '2k' },
            { image: 'https://placekitten.com/164/220', shares: '12', likes: '47' },
            { image: 'https://placekitten.com/164/220', shares: '1337', likes: '10' },
            { image: 'https://placekitten.com/164/220', shares: '0', likes: '29' },
            { image: 'https://placekitten.com/164/220', shares: '1', likes: '2k' },
            { image: 'https://placekitten.com/164/220', shares: '12', likes: '47' },
            { image: 'https://placekitten.com/164/220', shares: '1337', likes: '10' }
          ]
        }
      }
    }
  },

  data () {
    return {
      hasImage: false,
      image: null,
      showPhotoBox: true
    }
  },

  created () {
  },

  methods: {
    goToOverview () {
      // eslint-disable-next-line no-console
      console.log('Go To Overview')
    },
    setImage (output) {
      this.hasImage = true
      this.image = output
    },
    removeImage () {
      this.hasImage = false
      this.image = null
    },
    participate () {
      // eslint-disable-next-line no-console
      console.log('DO IT')
    },
    showSolution (solution) {
      // @click="$emit('showSolution', {solution})"
      this.$router.replace('solution')
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/styles/components/ChallengeDetails';
</style>
