<template>
  <div class="challenge-details challenge-list challenge__details--onboarding">
    <success-message
      v-if="hasMessage"
      :title="message.title"
      :content="message.text"
      :points="message.points"
      :visible="true"
      confetti
    />

    <p class="challenge-list__more">
      Weitere Challenges warten auf dich
    </p>

    <section v-for="(challenge, challengeIndex) in challenges" :key="challengeIndex" class="challenge__solution-list challenge__solution-list--slider">
      <nuxt-link :to="`challenge/${challenge.id}`">
        <base-headline tag="h3">
          {{ challenge.name }}
        </base-headline>
      </nuxt-link>
      <carousel :pagination-enabled="false" :per-page="3">
        <slide v-for="(solution, solutionIndex) in challenge.solutions" :key="solutionIndex" @click="$emit('showSolution', {solution})">
          <figure class="challenge__solution-list--slide" @click="showSolution(solution)">
            <img :src="solution.image" :alt="`Bild ${solutionIndex} dieser Challenge`">
          </figure>
        </slide>
      </carousel>
    </section>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel'
import { mapActions } from 'vuex'
import BaseHeadline from '../components/Base/BaseHeadline.vue'
import SuccessMessage from '../components/SuccessMessage.vue'

export default {
  name: 'Challenges',
  components: {
    BaseHeadline,
    Carousel,
    Slide,
    SuccessMessage
  },

  data () {
    return {
      hasImage: false,
      image: null,
      showPhotoBox: true
    }
  },

  computed: {
    challenges () {
      return this.$store.state.challenges.challengeList
    },
    hasMessage () {
      return !!this.$route.params.message
    },
    message () {
      return this.$route.params.message
    }
  },

  mounted () {
    this.fetchAllChallenges()
  },

  created () {
  },

  methods: {
    ...mapActions('challenges', ['fetchAllChallenges']),
    showSolution (solution) {
      this.$router.push('solution')
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/styles/components/ChallengeDetails';

  .challenge-list {
    &__more {
      font-size: 14px;
      margin: 17px 0 25px;
      text-align: center;
      color: #9294B5;
    }
    .challenge__solution-list + .challenge__solution-list {
      margin-top: 27px;
    }
  }
</style>
