<template>
  <nuxt-link to="welcome">
    <div class="page-loading">
      <div class="page-loading__wrapper">
        <launch-backgrounds area="topDark" class="page-loading__background page-loading__background--top" />
        <launch-backgrounds area="topLight" class="page-loading__background page-loading__background--top" />
        <launch-backgrounds area="bottomDark" class="page-loading__background page-loading__background--bottom page-load--bottomDark" />
        <launch-backgrounds area="bottomLight" class="page-loading__background page-loading__background--bottom" />
        <div class="page-loading__container">
          <launch-logo class="page-loading__logo" />
        </div>
        <launch-base class="page-loading__base" />
        <icon-coin class="page-loading__coin" />
      </div>
    </div>
  </nuxt-link>
</template>

<script>
// import BrandLogo from '~/components/Base/BrandLogo.vue'
import IconCoin from '~/components/Icons/IconCoin'
import LaunchBackgrounds from '~/components/LaunchScreen/Backgrounds.vue'
import LaunchLogo from '~/components/LaunchScreen/Logo.vue'
import LaunchBase from '~/components/LaunchScreen/Base.vue'
export default {
  layout: 'clean',
  auth: false,
  components: {
    // BrandLogo,
    LaunchBackgrounds,
    LaunchLogo,
    LaunchBase,
    IconCoin
  },
  created () {
    const that = this
    setTimeout(function () {
      localStorage.setItem('app:opened', Date.now())
      that.$router.push('welcome')
    }, 4000)
  }
}
</script>

<style lang="scss">
  .page-loading {
    height: 100vh;
    background: $color__grey--dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__wrapper {
      min-width: 320px;
      position: relative;
      width: 100%;
      height: 100vh;
      color: #fff;
    }

    &__base {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__coin {
      position: absolute;
      z-index: 500;
      color: #FF6C42;
      left: 50%;
      height: 58px;
      width: 58px;
      transform: translateX(-118px);
      bottom: 180px;
      animation: bounce 2s normal ease-in-out infinite;
    }

    &__background {
      position: absolute;
      width: 100%;
      &--top {
        top: 0;
      }
      &--bottom {
        bottom: 0;
      }
      &--bottomDark {

      }
      svg {
        width: 100%;
      }
    }

    &__container {
      animation: fadeIn 5s normal forwards ease-in-out;
      text-align: center;
      position: absolute;
      top: 22%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 100;
    }
  }

  .rotate {
    /* animation: rotate 4s normal forwards ease-in-out; */
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes bounce {
    0% {
      bottom: 180px;
    }
    50% {
      bottom: 190px;
    }
    100% {
      bottom: 180px;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
</style>
