<template>
  <div>
    <div class="onboardingSelect">
      <h3 class="onboardingSelect__title">
        Wähle deine<br>
        erste Challenge
      </h3>

      <div>
        <onboarding-challenge-choice
          v-for="(challenge, i) in challenges"
          :key="i"
          class="onboardingSelect__choice"
          :challenge="challenge"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import OnboardingChallengeChoice from '../components/Onboarding/OnboardingChallengeChoice.vue'

export default {
  layout: 'clean',
  auth: false,
  components: { OnboardingChallengeChoice },
  data () {
    return {}
  },

  computed: {
    challenges () {
      return this.$store.state.challenges.challengeList
    }
  },

  mounted () {
    this.fetchAllChallenges()
  },

  created () {
  },

  methods: {
    ...mapActions('challenges', ['fetchAllChallenges'])
  }
}
</script>

<style scoped lang="scss">
  @import '../assets/styles/pages/Onboarding/Select';
</style>
