<template>
  <input
    v-model="inputValue"
    class="baseInput__input"
    :type="type"
    :placeholder="label"
    :required="required"
    :disabled="disabled"
  >
</template>

<script>
export default {
  name: 'BaseInput',
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    label: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    inputValue: {
      get () { return this.value },
      set (newValue) { this.$emit('input', newValue) }
    }
  }
}
</script>

<style scoped lang="scss">
  @import '../../assets/styles/components/Base/BaseInput';
</style>
