<template>
  <textarea
    v-model="inputValue"
    class="baseTextarea__textarea"
    :placeholder="label"
    :rows="rows"
    :required="required"
  />
</template>

<script>
export default {
  name: 'BaseTextarea',
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    rows: {
      type: Number,
      default: 3
    },
    label: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    inputValue: {
      get () { return this.value },
      set (newValue) { this.$emit('input', newValue) }
    }
  }
}
</script>

<style scoped lang="scss">
  @import '../../assets/styles/components/Base/BaseInput';
</style>
