<template>
  <button
    class="baseButton__button"
    :class="[getVariant, isGhost, isRound, isBlock]"
    :type="type"
    :disabled="disabled"
    @click="!disabled && $emit('click')"
  >
    <icon-loading v-if="loading" class="baseButton__iconLoading" />
    <slot v-else />
  </button>
</template>

<script>
import IconLoading from '../Icons/IconLoading.vue'

export default {
  name: 'BaseButton',
  components: { IconLoading },
  props: {
    variant: {
      type: String,
      default: 'primary',
      validator: val => ['primary', 'secondary', 'tertiary', 'accent', 'white', ''].includes(val)
    },
    ghost: {
      type: Boolean,
      default: false
    },
    round: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'button'
    },
    block: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    getVariant () {
      if (this.variant !== '') {
        return `baseButton__button--${this.variant}`
      }
      return ''
    },
    isGhost () {
      if (this.ghost) {
        return 'baseButton__button--ghost'
      }
      return ''
    },
    isRound () {
      if (this.round) {
        return 'baseButton__button--round'
      }
      return ''
    },
    isBlock () {
      if (this.block) {
        return 'baseButton__button--block'
      }
      return ''
    },

    disabled () {
      return this.loading
    }
  }
}
</script>

<style scoped lang="scss">
  @import "../../assets/styles/components/Base/BaseButton";
</style>
