<template>
  <component :is="tag" :class="`base-headline base-headline--${tone}`">
    <icon-challenge :tone="toneIcon" />
    <span class="base-headline__label">
      <slot />
    </span>
  </component>
</template>

<script>
import IconChallenge from '../Icons/IconChallenge'

export default {
  name: 'BaseHeadline',
  components: {
    IconChallenge
  },
  props: {
    toneIcon: {
      type: String,
      required: false,
      default: 'primary',
      validator (value) {
        // The value must match one of these strings
        return ['primary', 'secondary', 'tertiary', 'accent'].includes(value)
      }
    },
    tone: {
      type: String,
      required: false,
      default: 'dark',
      validator (value) {
        // The value must match one of these strings
        return ['dark', 'light'].includes(value)
      }
    },
    tag: {
      type: String,
      required: false,
      default: 'h2',
      validator (value) {
        // The value must match one of these strings
        return ['h1', 'h2', 'h3', 'h4', 'h5', 'h6'].includes(value)
      }
    }
  }
}
</script>

<style lang="scss">
  .base-headline {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 16px;
    margin: 0 0 10px;
    display: flex;
    align-items: center;
    svg {
      color: $color__brand--primary;
    }
    &__label {
      margin-left: 9px;
    }
    &--light {
      .base-headline__label {
        color: #ffffff;
      }
    }
    &--dark {
      .base-headline__label {
        color: #000000;
      }
    }
  }
</style>
