<template>
  <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8 15.5C12.1421 15.5 15.5 12.1421 15.5 8C15.5 3.85786 12.1421 0.5 8 0.5C3.85786 0.5 0.5 3.85786 0.5 8C0.5 12.1421 3.85786 15.5 8 15.5Z" fill="#01DABE" />
    <path d="M28 15.5C32.1421 15.5 35.5 12.1421 35.5 8C35.5 3.85786 32.1421 0.5 28 0.5C23.8579 0.5 20.5 3.85786 20.5 8C20.5 12.1421 23.8579 15.5 28 15.5Z" fill="#01DABE" />
    <path d="M8 35.5C12.1421 35.5 15.5 32.1421 15.5 28C15.5 23.8579 12.1421 20.5 8 20.5C3.85786 20.5 0.5 23.8579 0.5 28C0.5 32.1421 3.85786 35.5 8 35.5Z" fill="#01DABE" />
    <path d="M28 35.5C32.1421 35.5 35.5 32.1421 35.5 28C35.5 23.8579 32.1421 20.5 28 20.5C23.8579 20.5 20.5 23.8579 20.5 28C20.5 32.1421 23.8579 35.5 28 35.5Z" fill="#01DABE" />
  </svg>
</template>

<script>
export default {
  name: 'LogoImage'
}
</script>
