<template>
  <button :class="`back-button back-button--${tone}`" @click="$emit('goBack')">
    <icon-arrow />
  </button>
</template>

<script>
import IconArrow from './Icons/IconArrow.vue'

export default {
  name: 'BackButton',
  components: {
    IconArrow
  },
  props: {
    tone: {
      type: String,
      required: false,
      default: 'dark',
      validator (value) {
        // The value must match one of these strings
        return ['dark', 'light'].includes(value)
      }
    }
  }
}
</script>

<style lang="scss">
  .back-button {
    .icon {
      // mix-blend-mode: difference;
    }
    &--light {
      .icon--arrow path {
        stroke: $color__white !important;
      }
    }
    &--dark {
      .icon--arrow path {
        stroke: #000000 !important;
      }
    }
  }
</style>
