<template>
  <transition name="create-challenge-transition">
    <div v-if="visible" class="createChallenge__overlay">
      <form class="createChallenge__modal" @submit.prevent="submit">
        <div class="createChallenge__title">
          <icon-challenge class="createChallenge__titleIcon" />
          <span class="createChallenge__titleText">Challenge erstellen</span>
        </div>

        <div class="createChallenge__form">
          <base-input
            v-model="title"
            label="Challenge Name"
            class="createChallenge__inputTitle"
            required
          />
          <base-textarea
            v-model="description"
            label="Füge eine Beschreibung hinzu"
            class="createChallenge__inputDescription"
            required
          />
        </div>

        <div class="createChallenge__buttons">
          <base-button
            ghost
            round
            class="createChallenge__buttonCancel"
            @click="closeModal"
          >
            Abbrechen
          </base-button>
          <base-button
            round
            class="createChallenge__buttonSubmit"
            type="submit"
          >
            Posten
          </base-button>
        </div>
      </form>
    </div>
  </transition>
</template>

<script>
import IconChallenge from './Icons/IconChallenge.vue'
import BaseButton from './Base/BaseButton.vue'
import BaseInput from './Base/BaseInput.vue'
import BaseTextarea from './Base/BaseTextarea.vue'

export default {
  name: 'CreateChallenge',
  components: { BaseTextarea, BaseInput, BaseButton, IconChallenge },
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      title: '',
      description: ''
    }
  },

  methods: {
    closeModal () {
      this.title = ''
      this.description = ''
      this.$emit('update:visible', false)
    },
    async submit () {
      try {
        await this.$challengeRepository.new(this.title, this.description)
        this.closeModal()
      } catch (e) {}
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/styles/components/CreateChallenge";
</style>
