<template>
  <div class="points-indicator" :class="{'points-indicator--clickable': clickable}" @click="onClick">
    <icon-loading v-if="loading" class="points-indicator__iconLoading" />
    <template v-else>
      <span class="points-indicator__text">
        {{ points }}
      </span>
      <icon-coin class="points-indicator__icon" />
    </template>
  </div>
</template>

<script>
import IconCoin from './Icons/IconCoin.vue'
import IconLoading from './Icons/IconLoading.vue'

export default {
  name: 'PointsIndicator',
  components: { IconLoading, IconCoin },
  props: {
    points: {
      type: [String, Number],
      default: ''
    },
    clickable: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onClick () {
      if (this.clickable) { this.$emit('click') }
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/styles/components/PointsIndicator";
</style>
