<template>
  <transition name="bounce-out">
    <div v-if="visible" class="successMessage__box">
      <canvas id="confetti" />
      <h3 class="successMessage__title">
        {{ title }}
      </h3>
      <div class="successMessage__content">
        {{ content }}
      </div>
      <points-indicator
        clickable
        :points="`+${points}`"
        @click="$emit('click')"
      />
    </div>
  </transition>
</template>

<script>
import PointsIndicator from './PointsIndicator.vue'

export default {
  name: 'SuccessMessage',
  components: { PointsIndicator },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    content: {
      type: String,
      default: ''
    },
    points: {
      type: Number,
      default: 0
    },
    confetti: {
      type: Boolean,
      default: false
    }
  },
  created () {
    if (!this.confetti) {
      return
    }
    const confetti = require('canvas-confetti')
    // eslint-disable-next-line nuxt/no-globals-in-created
    const myCanvas = document.getElementById('confetti')
    const myConfetti = confetti.create(myCanvas, {
      resize: true,
      useWorker: true
    })
    myConfetti({
      particleCount: 100,
      spread: 70,
      origin: { y: 0.6 }
    })
  }
}
</script>

<style scoped lang="scss">
  @import '../assets/styles/components/SuccessMessage';
</style>
