.authentication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__headline {
    display: block;
    margin: 24px auto;

    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
  }

  &__form {
    margin-bottom: 40px;
  }

  &__socialButton {
    justify-content: flex-start;
    padding: 12px 16px;
    margin-bottom: 16px;

    &--facebook {
      @include buttonVariant($color__social--facebook, $color__white);
    }

    &--google {
      @include buttonVariant($color__white, $color__grey--darkest);
      border: 1px solid $color__grey--light;
      &:active {
        background-color: $color__grey--lightest;
      }
    }
  }

  &__socialButtonIcon {
    height: 24px;
    width: 24px;
    margin-right: 16px;
  }
}
