.onboardingChallengeChoice {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;

  padding: 16px;
  border-radius: 16px;

  background-color: $color__grey--dark;
  cursor: pointer;

  &:hover {
    background-color: lighten($color__grey--dark, 5%);
  }

  &:active {
    background-color: lighten($color__grey--dark, 10%);
  }

  &__iconChallenge {
    color: $color__brand--primary;
  }

  &__title {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $color__white;
  }

  &__iconArrow {
    position: absolute;
    bottom: 14px;
    right: 26px;
    color: $color__brand--primary;
  }
}
