.bottomNavigation {
  &__bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: $bottomNavigation__barHeight;

    background-color: #FFFFFF;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px -16px 32px rgba(0, 0, 0, 0.1);
  }

  &__link {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;

    text-decoration: none;
    color: $color__grey--dark;
    cursor: pointer;

    &--active {
      color: $color__brand--primary;

      .bottomNavigation__linkTitle {
        font-weight: bold;
      }
    }
  }

  &__linkIcon {
    height: 20px;
    width: auto;
    margin-bottom: 10px;
  }

  &__linkTitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
  }
}
