.topBar {
  &__bar {
    display: flex;
    align-items: center;
    padding: 16px;
  }

  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  &__titleIcon {
    height: 17.5px;
    width: auto;
    margin-right: 12px;
    color: $color__brand--primary;
  }

  &__titleText {
    font-size: 20px;
    line-height: 24px;
    color: $color__grey--darkest;
    &--primary {
      color: $color__brand--primary;
    }
  }

  &__coins {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__coinsAmount {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-right: 8px;
  }

  &__coinsIcon {
    color: $color__brand--secondary;
  }
}
