<template>
  <div class="launch__background">
    <svg
      v-if="area === 'topDark'"
      width="251"
      height="239"
      viewBox="0 0 251 239"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M231.58 -15.7257C231.58 118.976 142.916 228.173 33.5444 228.173C-75.8274 228.173 -311.375 286.99 -423.727 130.448C-538.349 -68.7247 187.648 -15.7258 187.648 -239C297.02 -239 231.58 -150.427 231.58 -15.7257Z"
        fill="#2B2E3B"
        fill-opacity="0.2"
      />
    </svg>

    <svg
      v-if="area === 'topLight'"
      width="375"
      height="364"
      viewBox="0 0 375 364"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        opacity="0.2"
        d="M243.127 294.184C400.256 242.643 590.597 368.032 682.14 363.9C773.682 359.767 907.647 265.419 947.836 164.395C954.903 146.627 958.721 126.506 959 105.71C957.677 9.49908 880.731 -98.0553 699.304 -52.2474C475.338 4.31262 311.505 -209.179 176.055 -266.704C54.7226 -318.233 -10.5963 -237.386 -12.0866 -165.758C-11.9471 -159.144 -11.2605 -152.636 -10.0046 -146.356C-7.25272 -132.553 -6.09169 -119.52 -6.27589 -107.162C-4.21619 34.2657 -177.354 88.6731 -180 196.657C-179.269 226.855 -165.203 261.281 -130.578 302.873C-1.07919 410.907 85.9978 345.731 243.127 294.184Z"
        fill="url(#topLightLinear)"
      />
      <defs>
        <linearGradient
          id="topLightLinear"
          x1="215.938"
          y1="-331.698"
          x2="496.618"
          y2="440.162"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#C7EBEE" />
          <stop offset="1" stop-color="#29ABE2" />
        </linearGradient>
      </defs>
    </svg>

    <svg
      v-if="area === 'bottomDark'"
      width="375"
      height="430"
      viewBox="0 0 375 430"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M477.58 223.274C477.58 357.976 388.916 467.173 279.544 467.173C170.173 467.173 -65.3748 525.99 -177.727 369.448C-292.349 170.275 433.648 223.274 433.648 0C543.02 0 477.58 88.5727 477.58 223.274Z"
        fill="#2B2E3B"
        fill-opacity="0.2"
      />
    </svg>

    <svg
      v-if="area === 'bottomLight'"
      width="375"
      height="615"
      viewBox="0 0 375 615"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        opacity="0.1"
        d="M25.5135 702.077C216.579 639.384 448.03 791.905 559.344 786.878C670.658 781.852 833.556 667.088 882.425 544.204C891.018 522.591 895.661 498.116 896 472.821C894.391 355.791 800.827 224.964 580.215 280.684C307.877 349.482 108.659 89.7948 -56.0441 19.8226C-203.582 -42.8573 -283.009 55.4837 -284.821 142.611C-284.651 150.657 -283.816 158.573 -282.289 166.211C-278.943 183.001 -277.531 198.854 -277.755 213.886C-275.251 385.917 -485.783 452.097 -489 583.447C-488.111 620.179 -471.007 662.054 -428.904 712.646C-271.436 844.057 -165.552 764.777 25.5135 702.077Z"
        fill="url(#bottomLightLinear)"
      />
      <defs>
        <linearGradient
          id="bottomLightLinear"
          x1="-7.54752"
          y1="-59.235"
          x2="333.954"
          y2="879.569"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#C7EBEE" />
          <stop offset="1" stop-color="#29ABE2" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'LaunchBackground',
  props: {
    area: {
      type: String,
      required: false,
      default: 'topDark'
    }
  }
}
</script>
