<template>
  <svg
    class="page-loading__logo"
    width="224"
    height="92"
    viewBox="0 0 224 92"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M1.89631 85H6.50923V75.9872H15.8736V85H20.4759V63.1818H15.8736V72.1839H6.50923V63.1818H1.89631V85ZM31.5874 85.3196C36.5518 85.3196 39.6413 81.9212 39.6413 76.8821C39.6413 71.8111 36.5518 68.4233 31.5874 68.4233C26.6229 68.4233 23.5334 71.8111 23.5334 76.8821C23.5334 81.9212 26.6229 85.3196 31.5874 85.3196ZM31.6087 81.804C29.3182 81.804 28.1463 79.7053 28.1463 76.8501C28.1463 73.995 29.3182 71.8857 31.6087 71.8857C33.8565 71.8857 35.0284 73.995 35.0284 76.8501C35.0284 79.7053 33.8565 81.804 31.6087 81.804ZM42.5923 85H47.1307V75.1776C47.1307 73.3665 48.2812 72.1626 49.794 72.1626C51.2855 72.1626 52.2869 73.1854 52.2869 74.794V85H56.6868V75.0071C56.6868 73.3132 57.6562 72.1626 59.3075 72.1626C60.7564 72.1626 61.843 73.0682 61.843 74.8899V85H66.3707V73.995C66.3707 70.4474 64.2614 68.4233 61.2145 68.4233C58.8175 68.4233 56.9531 69.6484 56.282 71.5234H56.1115C55.5895 69.6271 53.9169 68.4233 51.669 68.4233C49.4638 68.4233 47.7912 69.5952 47.1094 71.5234H46.9176V68.6364H42.5923V85ZM77.413 85.3196C81.4613 85.3196 84.1886 83.3487 84.8278 80.3125L80.6303 80.0355C80.1722 81.282 79.0004 81.9318 77.4876 81.9318C75.2184 81.9318 73.7802 80.4297 73.7802 77.9901V77.9794H84.9237V76.733C84.9237 71.1719 81.5572 68.4233 77.2319 68.4233C72.4165 68.4233 69.2951 71.843 69.2951 76.8928C69.2951 82.081 72.3739 85.3196 77.413 85.3196ZM73.7802 75.1669C73.8761 73.3026 75.293 71.8111 77.3065 71.8111C79.2773 71.8111 80.641 73.2173 80.6516 75.1669H73.7802Z" fill="#00CCAA" />
    <path d="M106.22 63.1818H101.628V76.9034H101.436L92.0188 63.1818H87.9705V85H92.5835V71.2678H92.7433L102.235 85H106.22V63.1818ZM117.339 85.3196C122.304 85.3196 125.393 81.9212 125.393 76.8821C125.393 71.8111 122.304 68.4233 117.339 68.4233C112.375 68.4233 109.285 71.8111 109.285 76.8821C109.285 81.9212 112.375 85.3196 117.339 85.3196ZM117.361 81.804C115.07 81.804 113.898 79.7053 113.898 76.8501C113.898 73.995 115.07 71.8857 117.361 71.8857C119.608 71.8857 120.78 73.995 120.78 76.8501C120.78 79.7053 119.608 81.804 117.361 81.804ZM137.048 68.6364H133.969V64.7159H129.431V68.6364H127.194V72.0455H129.431V80.5682C129.41 83.7749 131.594 85.3622 134.885 85.2237C136.057 85.1811 136.888 84.9467 137.346 84.7976L136.633 81.4205C136.409 81.4631 135.93 81.5696 135.503 81.5696C134.598 81.5696 133.969 81.2287 133.969 79.9716V72.0455H137.048V68.6364ZM143.85 85L145.47 80.0249H153.343L154.962 85H159.905L152.384 63.1818H146.439L138.907 85H143.85ZM146.642 76.424L149.326 68.1676H149.497L152.181 76.424H146.642ZM166.984 63.1818H162.446V85H166.984V63.1818ZM178.013 85.3196C182.978 85.3196 186.067 81.9212 186.067 76.8821C186.067 71.8111 182.978 68.4233 178.013 68.4233C173.049 68.4233 169.959 71.8111 169.959 76.8821C169.959 81.9212 173.049 85.3196 178.013 85.3196ZM178.034 81.804C175.744 81.804 174.572 79.7053 174.572 76.8501C174.572 73.995 175.744 71.8857 178.034 71.8857C180.282 71.8857 181.454 73.995 181.454 76.8501C181.454 79.7053 180.282 81.804 178.034 81.804ZM193.556 75.5398C193.567 73.4304 194.824 72.1946 196.657 72.1946C198.478 72.1946 199.576 73.3878 199.565 75.3906V85H204.103V74.581C204.103 70.767 201.866 68.4233 198.457 68.4233C196.028 68.4233 194.27 69.6165 193.535 71.5234H193.343V68.6364H189.018V85H193.556V75.5398ZM215.138 85.3196C219.186 85.3196 221.913 83.3487 222.552 80.3125L218.355 80.0355C217.897 81.282 216.725 81.9318 215.212 81.9318C212.943 81.9318 211.505 80.4297 211.505 77.9901V77.9794H222.648V76.733C222.648 71.1719 219.282 68.4233 214.956 68.4233C210.141 68.4233 207.02 71.843 207.02 76.8928C207.02 82.081 210.099 85.3196 215.138 85.3196ZM211.505 75.1669C211.601 73.3026 213.018 71.8111 215.031 71.8111C217.002 71.8111 218.366 73.2173 218.376 75.1669H211.505Z" fill="white" />
    <path d="M103 17.5C107.142 17.5 110.5 14.1421 110.5 10C110.5 5.85786 107.142 2.5 103 2.5C98.8579 2.5 95.5 5.85786 95.5 10C95.5 14.1421 98.8579 17.5 103 17.5Z" fill="#00CCAA" />
    <path d="M123 17.5C127.142 17.5 130.5 14.1421 130.5 10C130.5 5.85786 127.142 2.5 123 2.5C118.858 2.5 115.5 5.85786 115.5 10C115.5 14.1421 118.858 17.5 123 17.5Z" fill="#00CCAA" />
    <path d="M103 37.5C107.142 37.5 110.5 34.1421 110.5 30C110.5 25.8579 107.142 22.5 103 22.5C98.8579 22.5 95.5 25.8579 95.5 30C95.5 34.1421 98.8579 37.5 103 37.5Z" fill="#00CCAA" />
    <path d="M123 37.5C127.142 37.5 130.5 34.1421 130.5 30C130.5 25.8579 127.142 22.5 123 22.5C118.858 22.5 115.5 25.8579 115.5 30C115.5 34.1421 118.858 37.5 123 37.5Z" fill="#00CCAA" />
  </svg>
</template>

<script>
export default {
  name: 'LaunchLogo'
}
</script>
