// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$color__brand--primary: #00CCAA;
$color__brand--secondary: #FF6C42;
$color__brand--tertiary: #FFD974;
$color__brand--accent: #6653C6;

$color__white: #FFFFFF;
$color__grey--darkest: #2B2E3B;
$color__grey--dark: #4C5067;
$color__grey--medium: #8A8FA8;
$color__grey--light: #D3D5DE;
$color__grey--lightest: #F0F1F4;

$color__social--facebook: #3C5A99;


/**
Shadow -- create mixin
background: #C4C4C4;
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
 */

$bottomNavigation__barHeight: 75px;
