<template>
  <router-link :to="`/challenge/${challenge.id}`">
    <div class="onboardingChallengeChoice" @click="$emit('click')">
      <icon-challenge class="onboardingChallengeChoice__iconChallenge" />
      <span class="onboardingChallengeChoice__title">
        {{ challenge.name }}
      </span>
      <icon-arrow class="onboardingChallengeChoice__iconArrow" orientation="right" />
    </div>
  </router-link>
</template>

<script>
import IconChallenge from '../Icons/IconChallenge.vue'
import IconArrow from '../Icons/IconArrow.vue'

export default {
  name: 'OnboardingChallengeChoice',
  components: { IconArrow, IconChallenge },
  props: {
    challenge: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
  @import '../../assets/styles/components/Onboarding/OnboardingChallengeChoice.scss';
</style>
