<template>
  <svg
    class="icon icon__challenge"
    :class="getTone"
    width="18"
    height="18"
    viewBox="0 0 18 18"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M3.75 7.5C5.82107 7.5 7.5 5.82107 7.5 3.75C7.5 1.67893 5.82107 0 3.75 0C1.67893 0 0 1.67893 0 3.75C0 5.82107 1.67893 7.5 3.75 7.5Z" fill="#00CCAA" />
    <path d="M14 7.75C16.0711 7.75 17.75 6.07107 17.75 4C17.75 1.92893 16.0711 0.25 14 0.25C11.9289 0.25 10.25 1.92893 10.25 4C10.25 6.07107 11.9289 7.75 14 7.75Z" fill="#00CCAA" />
    <path d="M4 17.75C6.07107 17.75 7.75 16.0711 7.75 14C7.75 11.9289 6.07107 10.25 4 10.25C1.92893 10.25 0.25 11.9289 0.25 14C0.25 16.0711 1.92893 17.75 4 17.75Z" fill="#00CCAA" />
    <path d="M14 17.75C16.0711 17.75 17.75 16.0711 17.75 14C17.75 11.9289 16.0711 10.25 14 10.25C11.9289 10.25 10.25 11.9289 10.25 14C10.25 16.0711 11.9289 17.75 14 17.75Z" fill="#00CCAA" />
  </svg>
</template>

<script>
export default {
  name: 'IconChallenge',
  props: {
    tone: {
      type: String,
      required: false,
      default: '',
      validator (value) {
        // The value must match one of these strings
        return ['primary', 'secondary', 'tertiary', 'accent', ''].includes(value)
      }
    }
  },
  computed: {
    getTone () {
      return `icon--${this.tone}`
    }
  }
}
</script>

<style scoped lang="scss">
  .icon__challenge {
    > path {
      fill: currentColor !important;
    }

    &--primary {
      color: $color__brand--primary;
    }
    &--secondary {
      color: $color__brand--secondary;
    }
    &--tertiary {
      color: $color__brand--tertiary;
    }
    &--accent {
      color: $color__brand--accent;
    }
  }
</style>
