<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon--arrow"
    :class="orientationClass"
  >
    <path d="M19 12H5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" />
    <path d="M12 19L5 12L12 5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" />
  </svg>
</template>

<script>
export default {
  name: 'IconArrow',
  props: {
    orientation: {
      type: String,
      default: 'left',
      validator: val => ['left', 'right', 'top', 'bottom'].includes(val)
    }
  },
  computed: {
    orientationClass () {
      return `icon--arrow--${this.orientation}`
    }
  }
}
</script>

<style scoped lang="scss">
.icon--arrow{
  &--left {
    transform: rotateZ(0deg);
  }
  &--top {
    transform: rotateZ(90deg);
  }
  &--right {
    transform: rotateZ(180deg);
  }
  &--bottom {
    transform: rotateZ(270deg);
  }
}
</style>
