<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M22.6755 23.9999C23.4069 23.9999 24 23.4068 24 22.6752V1.3246C24 0.592923 23.407 0 22.6755 0H1.32462C0.59293 0 0 0.592923 0 1.3246V22.6752C0 23.4067 0.592836 23.9999 1.32462 23.9999H22.6755Z"
      fill="white"
    />
    <path
      d="M16.5597 24V14.7059H19.6794L20.1465 11.0839H16.5597V8.7714C16.5597 7.72273 16.8509 7.00809 18.3547 7.00809L20.2727 7.00725V3.76764C19.941 3.7235 18.8025 3.62488 17.4779 3.62488C14.7125 3.62488 12.8193 5.31285 12.8193 8.41268V11.0839H9.69165V14.7059H12.8193V24H16.5597Z"
      fill="#3C5A99"
    />
  </svg>
</template>

<script>
export default {
  name: 'IconFacebook'
}
</script>
