<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M23.0399 12.2755C23.0399 11.4598 22.9752 10.6397 22.837 9.83716H11.751V14.4581H18.0994C17.836 15.9485 16.9895 17.2669 15.7501 18.1047V21.103H19.5375C21.7616 19.013 23.0399 15.9264 23.0399 12.2755Z"
      fill="#4285F4"
    />
    <path
      d="M11.751 24C14.9209 24 17.5941 22.9373 19.5418 21.103L15.7544 18.1047C14.7006 18.8366 13.3403 19.2511 11.7553 19.2511C8.68908 19.2511 6.08925 17.139 5.15643 14.2994H1.24805V17.3904C3.24326 21.4426 7.30711 24 11.751 24Z"
      fill="#34A853"
    />
    <path
      d="M5.15211 14.2995C4.65979 12.8091 4.65979 11.1953 5.15211 9.70496V6.61401H1.24805C-0.418947 10.0048 -0.418947 13.9996 1.24805 17.3904L5.15211 14.2995Z"
      fill="#FBBC04"
    />
    <path
      d="M11.751 4.74881C13.4266 4.72235 15.0461 5.36611 16.2597 6.54781L19.6153 3.12176C17.4905 1.08465 14.6704 -0.0353205 11.751 -4.58261e-05C7.30711 -4.58261e-05 3.24326 2.55737 1.24805 6.61395L5.1521 9.7049C6.08061 6.86088 8.68476 4.74881 11.751 4.74881Z"
      fill="#EA4335"
    />
  </svg>
</template>

<script>
export default {
  name: 'IconGoogle'
}
</script>
