<template>
  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#iconClip)">
      <path d="M16 0C12.8355 0 9.74207 0.938384 7.11088 2.69649C4.4797 4.45459 2.42894 6.95345 1.21793 9.87706C0.0069325 12.8007 -0.309921 16.0177 0.307443 19.1214C0.924806 22.2251 2.44866 25.0761 4.6863 27.3137C6.92394 29.5513 9.77487 31.0752 12.8786 31.6926C15.9823 32.3099 19.1993 31.9931 22.1229 30.7821C25.0466 29.5711 27.5454 27.5203 29.3035 24.8891C31.0616 22.2579 32 19.1645 32 16C31.995 11.7581 30.3077 7.69134 27.3082 4.69185C24.3087 1.69235 20.2419 0.00502833 16 0V0ZM20.481 8.131L22.244 5.7C22.4005 5.48544 22.6358 5.34183 22.8982 5.30076C23.1605 5.25969 23.4284 5.32452 23.643 5.481C23.8576 5.63748 24.0012 5.87278 24.0422 6.13514C24.0833 6.39751 24.0185 6.66544 23.862 6.88L22.1 9.307C22.0228 9.41324 21.9254 9.50323 21.8134 9.57183C21.7014 9.64043 21.577 9.68631 21.4473 9.70683C21.3176 9.72735 21.1851 9.72212 21.0574 9.69144C20.9297 9.66075 20.8092 9.60522 20.703 9.528C20.5968 9.45078 20.5068 9.3534 20.4382 9.2414C20.3696 9.12941 20.3237 9.00499 20.3032 8.87527C20.2827 8.74555 20.2879 8.61305 20.3186 8.48535C20.3493 8.35765 20.4048 8.23724 20.482 8.131H20.481ZM8.35901 5.483C8.46534 5.4053 8.58597 5.34937 8.71397 5.31842C8.84198 5.28747 8.97484 5.28211 9.10492 5.30264C9.235 5.32318 9.35975 5.3692 9.472 5.43808C9.58424 5.50696 9.68178 5.59733 9.75901 5.704L11.522 8.131C11.678 8.34609 11.7421 8.61432 11.7002 8.87669C11.6584 9.13905 11.5141 9.37405 11.299 9.53C11.0839 9.68595 10.8157 9.75006 10.5533 9.70824C10.291 9.66642 10.056 9.52209 9.90001 9.307L8.13801 6.88C8.06078 6.77377 8.00523 6.65336 7.97454 6.52565C7.94384 6.39795 7.93861 6.26545 7.95913 6.13572C7.97966 6.00599 8.02553 5.88158 8.09414 5.76959C8.16276 5.65759 8.25276 5.56021 8.35901 5.483ZM7.75001 19.732L4.90001 20.659C4.77354 20.7065 4.63875 20.7279 4.50377 20.7219C4.3688 20.7159 4.23645 20.6826 4.1147 20.624C3.99296 20.5654 3.88435 20.4828 3.79542 20.3811C3.7065 20.2794 3.63911 20.1607 3.59732 20.0322C3.55553 19.9037 3.54021 19.7681 3.55228 19.6336C3.56435 19.499 3.60356 19.3683 3.66755 19.2493C3.73154 19.1303 3.81898 19.0255 3.92458 18.9412C4.03019 18.857 4.15178 18.795 4.28201 18.759L7.13501 17.832C7.26134 17.785 7.39588 17.764 7.53054 17.7703C7.66519 17.7766 7.79719 17.81 7.91858 17.8686C8.03998 17.9273 8.14827 18.0098 8.23696 18.1113C8.32564 18.2128 8.39288 18.3313 8.43464 18.4594C8.47639 18.5876 8.49181 18.7229 8.47995 18.8572C8.46809 18.9915 8.4292 19.1219 8.36562 19.2408C8.30205 19.3597 8.21509 19.4645 8.10999 19.5489C8.00488 19.6333 7.8838 19.6956 7.75401 19.732H7.75001ZM17 28C17 28.2652 16.8947 28.5196 16.7071 28.7071C16.5196 28.8946 16.2652 29 16 29C15.7348 29 15.4804 28.8946 15.2929 28.7071C15.1054 28.5196 15 28.2652 15 28V25C15 24.7348 15.1054 24.4804 15.2929 24.2929C15.4804 24.1054 15.7348 24 16 24C16.2652 24 16.5196 24.1054 16.7071 24.2929C16.8947 24.4804 17 24.7348 17 25V28ZM16 20.243L11.013 22.865L11.965 17.311L7.93001 13.378L13.506 12.568L16 7.515L18.494 12.568L24.07 13.378L20.035 17.311L20.988 22.865L16 20.243ZM27.1 20.659L24.246 19.732C24.1162 19.6956 23.9951 19.6333 23.89 19.5489C23.7849 19.4645 23.698 19.3597 23.6344 19.2408C23.5708 19.1219 23.5319 18.9915 23.5201 18.8572C23.5082 18.7229 23.5236 18.5876 23.5654 18.4594C23.6071 18.3313 23.6744 18.2128 23.7631 18.1113C23.8517 18.0098 23.96 17.9273 24.0814 17.8686C24.2028 17.81 24.3348 17.7766 24.4695 17.7703C24.6041 17.764 24.7387 17.785 24.865 17.832L27.718 18.759C27.959 18.8495 28.1558 19.0295 28.2674 19.2615C28.379 19.4935 28.3969 19.7596 28.3172 20.0044C28.2376 20.2492 28.0666 20.4539 27.8399 20.5758C27.6132 20.6978 27.3482 20.7275 27.1 20.659Z" fill="currentColor" />
    </g>
    <defs>
      <clipPath id="iconClip">
        <rect width="32" height="32" fill="currentcolor" />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
  name: 'IconCoin'
}
</script>
