<template>
  <svg
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="icon--plus"
  >
    <path d="M10 1.66669V18.3334" stroke="#2B2E3B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M18.3334 10H1.66675" stroke="#2B2E3B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
  </svg>
</template>

<script>
export default {
  name: 'IconPlus'
}
</script>

<style lang="scss" scoped>
  svg.icon--plus path {
    stroke: currentColor !important;
  }
</style>
