<template>
  <svg
    width="18"
    height="22"
    viewBox="0 0 18 22"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="icon--profile"
  >
    <path d="M10.875 13.5H7.125C4.01812 13.5 1.5 16.0181 1.5 19.125C1.5 19.125 4.3125 20.375 9 20.375C13.6875 20.375 16.5 19.125 16.5 19.125C16.5 16.0181 13.9819 13.5 10.875 13.5Z" stroke="#2B2E3B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" />
    <path d="M4.625 6C4.625 3.58375 6.58375 1.625 9 1.625C11.4162 1.625 13.375 3.58375 13.375 6C13.375 8.41625 11.4162 11 9 11C6.58375 11 4.625 8.41625 4.625 6Z" stroke="#2B2E3B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" />
  </svg>
</template>

<script>
export default {
  name: 'IconProfile'
}
</script>

<style lang="scss" scoped>
  svg.icon--profile path {
    stroke: currentColor !important;
  }
</style>
