<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head {{ HEAD_ATTRS }}>
  {{ HEAD }}
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/images/og/HomeNotAlone@2x.png" />
  <meta property='og:video' content="https://www.youtube.com/watch?v=fYY5eldNJTw" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/images/favicons/manifest.json">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.a6c2c67d.svg" color="#5bbad5">
  <link rel="icon" type="image/ico" href="/images/favicons/favicon.ico">
</head>
<body {{ BODY_ATTRS }} ontouchstart>
{{ APP }}
</body>

</html>
