body {
  font-family: "Inter", sans-serif;
  user-select: none;
}

.app {
  &__wrapper {
    font-family: Inter, sans-serif;
    background: white;
    padding-bottom: $bottomNavigation__barHeight + 16px;

    &--clean {
      padding-bottom: 0;
    }
  }

  &__container {
    padding: 0 16px;

    &--clean {
      padding: 0;
    }
  }
}

.logo {
  &--primary {
    path {
      fill: $color__brand--primary;
    }
  }
  &--secondary {
    path {
      fill: $color__brand--secondary;
    }
  }
  &--tertiary {
    path {
      fill: $color__brand--tertiary;
    }
  }
  &--accent {
    path {
      fill: $color__brand--accent;
    }
  }
}

a {
  text-decoration: none;
}
