<template>
  <div class="app__wrapper">
    <div class="app__container">
      <nuxt />
    </div>

    <bottom-navigation />
  </div>
</template>

<script>
import BottomNavigation from '../components/Layout/BottomNavigation.vue'

export default {
  name: 'RegisterLogin',
  components: { BottomNavigation }
}
</script>

<style lang="scss">
  @import '../assets/styles/Layout';
</style>
