<template>
  <div class="app__wrapper app__wrapper--clean">
    <div class="app__container app__container--clean">
      <nuxt />
    </div>
  </div>
</template>

<style lang="scss">
  @import '../assets/styles/Layout';
</style>
