<template>
  <div class="app__wrapper">
    <top-bar />

    <div class="app__container">
      <nuxt />
    </div>

    <create-challenge :visible.sync="createChallengeOpen" />

    <bottom-navigation @click:create="createChallengeOpen = true" />
  </div>
</template>

<script>
import BottomNavigation from '../components/Layout/BottomNavigation.vue'
import TopBar from '../components/Layout/TopBar.vue'
import CreateChallenge from '../components/CreateChallenge.vue'

export default {
  components: {
    CreateChallenge,
    TopBar,
    BottomNavigation
  },
  data () {
    return {
      createChallengeOpen: false
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/styles/Layout';
</style>
