<template>
  <div class="app__wrapper">
    <top-bar :is-subpage="true" />

    <div class="app__container">
      <nuxt />
    </div>

    <bottom-navigation />
  </div>
</template>

<script>
import BottomNavigation from '../components/Layout/BottomNavigation.vue'
import TopBar from '../components/Layout/TopBar.vue'

export default {
  components: {
    TopBar,
    BottomNavigation
  },
  data () {
    return {
      clipped: false
    }
  },
  computed: {
    coinsAmount () {
      // TODO use value from store
      return 4580
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/styles/Layout';
</style>
