<template>
  <div class="challenge-solution">
    <header class="challenge-solution__header app__container">
      <a href="#" @click="goBack()">
        <back-button tone="dark" />
      </a>
    </header>
    <figure class="challenge-solution__imageContainer" :style="{ backgroundImage: `url('${solution.image}')` }">
      <img class="challenge-solution__image" alt="Challenge Lösung" :src="solution.image">
    </figure>
    <footer class="challenge-solution__data app__container">
      <base-headline tone="light" tag="h3">
        {{ challenge.title }}
      </base-headline>
      <!-- <ul class="challenge-solution__dataList">
        <li class="challenge-solution__dataItem">
          <icon-share />
          <span class="challenge-solution__dataLabel">{{ solution.shares }}</span>
        </li>
        <li class="challenge-solution__dataItem">
          <icon-heart />
          <span class="challenge-solution__dataLabel">{{ solution.likes }}</span>
        </li>
      </ul> -->
    </footer>
  </div>
</template>

<script>
import BackButton from '../../../components/BackButton.vue'
import BaseHeadline from '../../../components/Base/BaseHeadline.vue'
// import IconHeart from '../../../components/Icons/IconHeart.vue'
// import IconShare from '../../../components/Icons/IconShare.vue'

export default {
  layout: 'clean',
  name: 'ChallengeSolution',
  components: {
    // IconHeart,
    // IconShare,
    BaseHeadline,
    BackButton
  },
  props: {
    challenge: {
      type: Object,
      required: false,
      default () {
        return {
          id: 1,
          title: 'Haustier Challenge',
          likes: '29'
        }
      }
    },
    solution: {
      type: Object,
      required: false,
      default () {
        return {
          image: 'https://placekitten.com/400/900',
          shares: '0',
          likes: '29'
        }
      }
    }
  },

  data () {
    return {}
  },

  created () {
  },

  methods: {
    goBack () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss">
  @import '../../../assets/styles/components/ChallengeDetails';
</style>
