.profile {
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -16px;
    margin-right: -16px;
    padding: 32px;

    background-color: $color__white;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);

    &__name {
      margin-bottom: 24px;
      height: 24px;
    }

    &__nameText {
      font-weight: bold;
      font-size: 24px;
    }

    &__logout {
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;

      &:active {
        color: $color__grey--medium
      }
    }
  }
}
